body{
  background-color: rgb(134, 0, 192);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1{
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin: 45px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(255, 247, 247);
}
.sketchContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}
canvas {
  border: solid 5px aqua;
  border-radius: 25px;
}

.whiteFolder .dg.title {
  color: green; /* Change la couleur du texte en vert */
}

.whiteFolder {
  background-color: yellow; /* Change la couleur de fond de l'onglet en jaune */
}